<header class="top-bar">
    <a href="/" class="home-button">Home</a> <!-- Home button on the left -->
    <nav class="nav-links">
        <a href="/dtbverschilkaart" class="nav-item">DTB Verschilkaart</a>
        <a href="https://github.com/mapseppe/dtbtools" class="nav-item">GitHub</a>
    </nav>
</header>  