<!DOCTYPE html>
<html>  

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <div class="container">
            <button type="submit" class="buttonstyle"><a href="/dtbverschilkaart/create">Nieuwe verschilkaart genereren</a></button>
            <form id="geojsonForm">
                <label for="geojsonId">Bestaande verschilkaart bekijken op basis van ID</label>
                <input type="text" id="geojsonId" name="geojsonId" required>
                <button type="submit" class="buttonstyle">Inladen</button> <span style="color:red;"><%= resultMessage %></span>
            </form>
        </div>
        <div class="map-and-table-container">
            <div id="map" class="container2"></div>
            <div id="geojson-table-container" class="container2">
                <div id="legend" class="legend-container">
                    <h3>Legenda:</h3>
                    <ul>
                        <li><span class="legend-color" style="background-color:green;"></span>Nieuwe objecten</li>
                        <li><span class="legend-color" style="background-color:red;"></span>Verwijderde objecten</li>
                        <li><span class="legend-color" style="background-color:blue;"></span>Veranderde nieuwe object(delen)</li>
                        <li><span class="legend-color" style="background-color:gray;"></span>Veranderde oude object(delen)</li>
                    </ul>
                </div>
                <span><h3>Aangeklikte Objecten</h3></span>
                <div id="proximity-results-container"></div>
                <span><h3>Alle Objecten</h3></span>
                <div id="geojson-table"></div>
                <button id="downloadButton" class="buttonstyle">Download Verschilkaart (GeoJSON)</button>
            </div>
        </div>
        <script src="/verschilkaart.js"></script>
        <script src="/verschiltabel.js"></script>
        <script src="/downloadgeojson.js"></script>
        <script>
            const inputGeojson = <%- JSON.stringify(resultGeojson) %>;
            loadGeojson(inputGeojson);
            generateGeojsonTable(inputGeojson);
            document.getElementById('downloadButton').addEventListener('click', function() {
                downloadGeojson(inputGeojson);
            });
        </script>
    </body>
</html>