<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <div class="container">
            <br><br>
            <h1>Home pagina</h1>
        </div>

    </body>
</html>