<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <div class="container">
            <h1>Welkom op de home pagina</h1>
        </div>

    </body>
</html>