        /* Reset some basic elements */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        /* Body Styling */
        body {
            background-color: white;
            font-family: Verdana, Geneva, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: black;
            min-height: 100vh;
        }
        
        /* Top Bar Styling */
        .top-bar {
            width: 100%;
            font-family: 'Trebuchet MS', Tahoma, sans-serif;
            background-color: yellow;
            padding: 10px 0;
            display: flex;
            align-items: center;
            padding-left: 20px; /* Padding for space on the left */
        }
        
        /* Home button styling */
        .home-button {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
            margin-right: 30px; /* Adds space between Home button and first link */
        }
        
        /* Hover effect for the Home button */
        .home-button:hover {
            background-color: #ffd700;
            color: black;
            text-decoration: underline;
        }
        
        /* Navigation Links Container */
        .nav-links {
            display: flex;
            gap: 20px; /* Space between links */
            font-weight: bold;
        }
        
        .nav-item {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        
        /* Hover effect for navigation items */
        .nav-item:hover {
            background-color: #ffd700; /* Slightly darker yellow */
            color: black;
            text-decoration: underline;
        }
        
        /* Container for the title */
        .container {
            margin-top: 10px; /* Space below the fixed top bar */
            width: 90%;
            text-align: left;
            line-height: 30px;
        }
        
        /* Title styling */
        .title {
            font-size: 3rem;
            margin-bottom: 50px;
        }
        
        .buttonstyle {
            font-family: Verdana, Geneva, sans-serif;
            padding: 2px 2px;
        }
        
        a {
          text-decoration: none;
          color: black;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        input {
            width: 500px;
        }
        
        #map {
            height: 100%; /* Ensure the map takes up the full height */
            width: 65%; /* Adjust the width percentage of the map */
            margin-right: 20px; /* Add margin to the right of the map */
            z-index: 1;
        }

        /* Container for the title */
        .container2 {
            width: 100%;
            text-align: left;
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }
        .map-and-table-container {
            display: flex;
            justify-content: space-between; /* Ensure map and table are on opposite sides */
            width: 95%; /* Adjust the width as needed */
            margin-top: 20px;
            height: 750px; /* Set the height for the container */
        }
        
        /* Table Styling */
        #geojson-table-container {
            width: 35%; /* Adjust the width percentage for the table and legend */
            display: flex;
            flex-direction: column; /* Stack legend, proximity, and table vertically */
            height: 100%; /* Ensure the container takes up the full height */
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
        .legend-container {
            margin-bottom: 5px; /* Reduce the space below the legend */
            font-size: 1rem; /* Make the font size smaller */
            height: auto; /* Allow the legend to take up less space */
        }
        
        .legend-container h3 {
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .legend-container ul {
            list-style: none;
            padding-left: 0;
        }
        
        .legend-container li {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
        }
        
        .legend-color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        #geojson-table {
            flex-grow: 1; /* Allow the table to fill the remaining space */
            margin-top: 5px;
            overflow-y: auto; /* Enable vertical scrolling if content overflows */
            display: block; /* Makes the table a block element to allow scrolling */
            max-height: 400px; /* Set a specific height for the table container */
        }
        
        #geojson-table table {
            width: 100%; /* Ensure the table takes up full width of container */
            border-collapse: collapse; /* Collapse borders */
        }
        
        #geojson-table table th,
        #geojson-table table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        #geojson-table thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }
        #proximity-results-container {
            flex: 0 1 auto; /* Allow this section to grow and shrink based on content */
            margin-bottom: 5px; /* Add space below */
            margin-top: 5px; /* Add space below */
            height: auto; /* Ensure the section grows with its content */
            min-height: 40px; /* Ensure this section has at least a small height */
            overflow-y: auto; /* Enable vertical scrolling if content overflows */
        }
        #downloadButton {
            margin-top: 5px; /* Add some space between the table and the button */
        }
        .leaflet-control-layers-toggle {
            display: flex !important;          /* Use flexbox for layout */
            flex-direction: column !important; /* Stack icon and text vertically */
            align-items: center !important;    /* Center items horizontally */
            width: 100px !important;            /* Set width for the button */
        }
        
        /* Add the text below the icon */
        .leaflet-control-layers-toggle::after {
            content: "Kaartlagen" !important;  /* Add the text below the icon */
            font-size: 14px !important;          /* Set font size */
            align-items: center !important;
            color: black;
            white-space: nowrap !important;      /* Prevent text wrapping */
        }