        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: white;
            font-family: Verdana, Geneva, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: black;
            min-height: 100vh;
        }
        
        .top-bar {
            width: 100%;
            font-family: 'Trebuchet MS', Tahoma, sans-serif;
            background-color: yellow;
            padding: 10px 0;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
        
        .home-button {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
            margin-right: 30px;
        }
        
        .home-button:hover {
            background-color: #ffd700;
            color: black;
            text-decoration: underline;
        }
        
        .nav-links {
            display: flex;
            gap: 20px;
            font-weight: bold;
        }
        
        .nav-item {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        
        .nav-item:hover {
            background-color: #ffd700;
            color: black;
            text-decoration: underline;
        }
        
        .container {
            margin-top: 10px;
            width: 90%;
            text-align: left;
            line-height: 30px;
        }
        
        .title {
            font-size: 3rem;
            margin-bottom: 50px;
        }
        
        .buttonstyle {
            font-family: Verdana, Geneva, sans-serif;
            padding: 2px 2px;
        }
        
        a {
          text-decoration: none;
          color: black;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        input {
            width: 500px;
        }
        
        #map {
            height: 100%;
            width: 65%;
            margin-right: 20px;
            z-index: 1;
        }

        .container2 {
            width: 100%;
            text-align: left;
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }
        .map-and-table-container {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin-top: 20px;
            height: 750px;
        }
        
        #geojson-table-container {
            width: 35%;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
        .legend-container {
            margin-bottom: 5px;
            font-size: 1rem;
            height: auto;
        }
        
        .legend-container h3 {
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .legend-container ul {
            list-style: none;
            padding-left: 0;
        }
        
        .legend-container li {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
        }
        
        .legend-color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        #geojson-table {
            flex-grow: 1;
            margin-top: 5px;
            overflow-y: auto;
            display: block;
            max-height: 400px;
        }
        
        #geojson-table table {
            width: 100%;
            border-collapse: collapse;
        }
        
        #geojson-table table th,
        #geojson-table table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        #geojson-table thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }
        #proximity-results-container {
            flex: 0 1 auto;
            margin-bottom: 5px;
            margin-top: 5px;
            height: auto;
            min-height: 40px;
            overflow-y: auto;
        }
        #downloadButton {
            margin-top: 5px;
        }
        .leaflet-control-layers-toggle {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100px !important;
        }
        
        .leaflet-control-layers-toggle::after {
            content: "Kaartlagen" !important;
            font-size: 14px !important;
            align-items: center !important;
            color: black;
            white-space: nowrap !important;
        }