        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: white;
            font-family: Verdana, Geneva, sans-serif;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            color: black;
            min-height: 100vh;
        }
        
        .top-bar {
            width: 100%;
            font-family: 'Trebuchet MS', Tahoma, sans-serif;
            background-color: rgb(255, 230, 86);
            padding: 10px 0;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
        
        .home-button {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
            margin-right: 30px;
        }
        
        .home-button:hover {
            background-color: #ffd700;
            color: black;
            text-decoration: underline;
        }
        
        .nav-links {
            display: flex;
            gap: 20px;
            font-weight: bold;
        }
        
        .nav-item {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        
        .nav-item:hover {
            background-color: #ffd700;
            color: black;
            text-decoration: underline;
        }
        
        .appcontainer {
            display: flex;
            width: 95%;
            flex-direction: column;
        }

        .topcontainer {
            margin-top: 16px;
            height: 100%;
            text-align: left;
            line-height: 30px;
            width: 100%;
        }
        
        .buttonstyle {
            font-family: Verdana, Geneva, sans-serif;
            padding: 4px 4px;
            background-color: rgb(255, 255, 255);
            font-size: 1.0rem;
            border: 2px solid rgb(85, 158, 241);
            border-radius: 4px;
            color: rgb(0, 0, 0);
            margin-bottom: 0px;
            cursor: pointer;
        }
        
        .buttonstyle:hover {
            background-color: rgb(233, 246, 255);
            border: 2px solid rgb(24, 76, 136);
            color: rgb(24, 76, 136);
        }

        .threebuttons {
            display: flex;
            gap: 10px;
        }

        input[type="checkbox"] {
            width: 15px;
            height: 15px;
            border: 1px solid #85aaff;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
        }

        input[type="checkbox"]:checked {
            background-color: #4CAF50;
            border-color: #4CAF50;
        }

        .threebuttons .buttonstyle {
            flex: 1;
        }

        a {
          text-decoration: none;
          color: black;
        }
        
        h3 {
            font-size: 1.1rem;
            font-family: 'Trebuchet MS', Tahoma, sans-serif;
          }

        .textinput {
            width: 500px;
        }
        
        .mapcontainer {
            height: 100%;
            width: 75%;
            margin-right: 20px;
            z-index: 1;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .container-side {
            width: 35%;
            text-align: left;
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }

        .map-and-table-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 16px;
            height: 750px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.9rem;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }

        .layercontrol {
            display: flex;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 1.0rem;
            flex-direction: row;
            gap: 20px;
            background: white;
            font-size: 14px;
            width: 100%;
            border: 2px solid rgb(85, 158, 241);
            border-radius: 4px;
            margin-top: 4px;
            margin-bottom: 4px;
            padding: 4px;
        }

        .layercontroltoggle,
        .layercontrolbasemaps {
            display: flex;
            font-size: 1.0rem;
            flex-direction: column;
            gap: 6px;
            flex-grow: 1;
        }

        .layercontrol label {
        cursor: pointer;
        }
        
        .legend-color {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-left: 10px;
        }

        #geojson-table {
            flex-grow: 1;
            margin-top: 5px;
            overflow-y: auto;
            display: block;
            max-height: 400px;
            border: 2px solid rgb(85, 158, 241);
            border-radius: 4px;
        }
        
        #geojson-table table {
            width: 100%;
            border-collapse: collapse;
        }
        
        #geojson-table table th,
        #geojson-table table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        #geojson-table thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }
        #proximity-results-container {
            margin-bottom: 5px;
            margin-top: 5px;
            min-height: 120px;
            overflow-y: auto;
            border: 2px solid rgb(85, 158, 241);
            border-radius: 4px;
        }
        #createkaart {
            margin-left: 24px;
            margin-top: 24px;
            line-height: 2.0;
        }